<!DOCTYPE html>
<html>
<head>
    <title>Demo Ansible</title>
    <style>
        body { font-family: Arial; text-align: center; padding-top: 50px; }
    </style>
</head>
<body>
    <h1>{{ website_message }}</h1>
    <p>Sito generato automaticamente con Ansible</p>
</body>
</html>
